.navbar-nav{
    margin-left: auto;
}


.nav-item{
    padding-left: 30px;
}


.navbar{
    border-radius: 0px 0px 30px 30px;
    box-shadow: 2px 2px 3px gray;
}


button{
    background-color: rgb(252, 72, 102);
    padding: 8px 48px 8px 48px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 30px;
    color: white;
    
}



p{
    margin-top: 30px;
    line-height: 150%;
}

h1{
    font-size: 60px;
    font-weight: bold;
    kerning: -7%;
    color: rgb(252, 72, 102;
}

/* .container{
    margin-top: 70px !important;
} */


h2{
    margin-bottom: 50px;
}

